version: '3.8'

services:
  # --- 1. DATABÁZE (PostgreSQL) ---
  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    ports:
      - "5432:5432"

  # --- 2. BACKEND (FastAPI) ---
  backend:
    build: ./backend
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - ./backend:/app
      - static_volume:/app/app/static/uploads
      - ./backend/uploads:/app/uploads
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgresql+asyncpg://${DB_USER}:${DB_PASSWORD}@db/${DB_NAME}
      - SECRET_KEY=${SECRET_KEY}

      # ✅ ADMIN SEED – NATVRDO, NEZ .env
      - ADMIN_EMAIL=admin@admin.eu
      - ADMIN_PASSWORD=admin

    depends_on:
      - db

  # --- 3. FRONTEND (React + Vite) ---
  frontend:
    build: ./frontend
    command: npm run dev -- --host
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "5173:5173"

  # --- 4. NGINX PROXY MANAGER ---
  nginx:
    image: 'jc21/nginx-proxy-manager:latest'
    restart: unless-stopped
    ports:
      - '80:80'
      - '81:81'
      - '443:443'
    volumes:
      - ./nginx/data:/data
      - ./nginx/letsencrypt:/etc/letsencrypt
    depends_on:
      - backend
      - frontend

volumes:
  postgres_data:
  static_volume:
