services:
  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped
    # NEOTEVÍRAT PORTY VEN:
    # ports: []

  backend:
    build: ./backend
    env_file:
      - .env
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --proxy-headers --forwarded-allow-ips='*'
    environment:
      DATABASE_URL: postgresql+asyncpg://${DB_USER}:${DB_PASSWORD}@db/${DB_NAME}
      SECRET_KEY: ${SECRET_KEY}
      ADMIN_EMAIL: ${ADMIN_EMAIL}
      ADMIN_PASSWORD: ${ADMIN_PASSWORD}
    volumes:
      - ./backend/uploads:/app/uploads
    restart: unless-stopped
    depends_on:
      - db
    # NEOTEVÍRAT PORTY VEN:
    # ports: []

  frontend:
    build: ./frontend
    restart: unless-stopped
    depends_on:
      - backend
    # NEOTEVÍRAT PORTY VEN:
    # ports: []

  nginx:
    image: jc21/nginx-proxy-manager:latest
    restart: unless-stopped
    ports:
      - "80:80"
      - "81:81"
      - "443:443"
    volumes:
      - ./nginx/data:/data
      - ./nginx/letsencrypt:/etc/letsencrypt
    depends_on:
      - frontend
      - backend

volumes:
  postgres_data:
